.main{
    background: #2b1e16;
    text-align: center;
    color: #fff;
}
.sub{
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
   
}
.sub-item{
    width:300px;
    text-align: center;
    padding-bottom: 50px;
}
.sub-item img{
    width:35%;
    padding-bottom: 25px;
}
.sub-item p{
    color: #e0cbc1;
}
.ftig1{
    padding-top: 10px;
}
.ftig3{
    padding-top:40px;
}