.add{
    display:flex;
    justify-content: space-between;
    margin-right: 5%;
}
.add1{
    display: flex;
    flex-direction:column;
    width: 100%;
    margin-left:90px;
    margin-top: 100px;
}
.adig1{
    width:30%;
    margin-right: 20px;
}

.adig2{
    width:30%;
}
.add h1{
    width:40%;
}
.add h3{
    width: 69%;
    padding-bottom: 40px;
    color: #686b78;
    font-weight: 300;
}
.addimg1{
    width:100%;
}

.addimg2{
    padding-top: 30%;
    width:100%;
}