.content{
display: flex;
flex-direction: row;
margin-bottom: -4px;

}
.hero{
    margin-left: 60px;
    padding-top: 60px;

    }
.jumbo1{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;

}
.svg{
    height:100px;
    width: 200px;
    transition: transform .3s cubic-bezier(.23,1,.32,1) 0ms;
}
.login{
     text-decoration: none;
     font-size: 18px;
     color:  #000 ;
     margin-top: 35px;
     margin-right: 10px;
     margin-left: 25%;
}
.login:hover{
    color:#fc8019;;
}
.signup{
    text-decoration: none;
    color: #fff;
    background-color: #000;
    font-size: 18px;
   height:30px;
  padding-top: 12px;
  text-align: center;
    margin-top: 25px;
    margin-right:70px;
    width:100px;
   
}
.jumbo2{
    display: grid;
    margin-left: 25px;
    margin-top: 45px;
  
}
.hungry{
    color: #282c3f;
    margin-bottom: -10px;
}
.order{
    color: #686b78;
    width: 600px;
    font-weight: 300;
}

.enter{
    border: 1px solid #bebfc5;
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin-left: 28px;
    align-items: center;

    
}
.search{
    border: none;
    outline:none;
    caret-color: #fc8019;
    padding:18px;
    font-size:18px;
}
.enter:hover{
    border-color: #fc8019;
}
.jumbo3{
    margin-top: 30px;
    display: flex;
    margin-right: 60px;
}
.location{
    color: #535665;
    font-size: 14px;
    margin-right: 9px;
    text-decoration: none;
    padding:15px;
}
.fa{
    padding-right: 8px;
}
.location:hover{
    background-color:#e7e8ee;
}
.find{
    text-decoration: none;
    text-align: center;
    border: none;
    color: #fff;
    background-color: #fc8019;
    height: 60px;
    line-height: 60px;
    width: 140px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .53px;
    padding: 0;
}
.popular{
    font-weight: 400;
    font-size: 15px;
    color: #a9abb2;
    margin: 30px 28px 12px;
    letter-spacing: -.2px;


}
.cities{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style:none;
    width: 89%;
    margin-left: 25px;
    padding: 0;

}
.c1{
        font-weight: 600;
        font-size: 16px;
        margin-right: 8px;
        color: #686b78;
        line-height: 1.5;
        letter-spacing: -.3px;
        text-decoration: none;
}
.c2{
    font-weight: 600;
    font-size: 16px;
    margin-right: 8px;
    color: #9195aa;
    line-height: 1.5;
    letter-spacing: -.3px;
    text-decoration: none;
}
.background{
    width: 100%;
}